/* .geral{
    display: flex;
    width: 1290px;
    height: 580px;
    border: solid green 2px;
    justify-content: center;
    align-items: center;
} */
/* .mesa_frutas{
    display: flex;
    width: 900px;
    height: 400px;
    border: solid black 2px;
    justify-content: center;
    align-items: center;
} */
.geral_all{
    display: flex;
    width: 1850px;
    height: 910px;
    background-color: #e2d3d3;
    justify-content: center;
    align-items: center;
}
.prateleiras_frutas{
    display: flex;
    width: 880px;
    height: 250px;
    background-color: #f2f2f2;
    border-radius: 20px 20px 0px 0px;
    justify-content: space-around;
    align-items: center;
}
.carrinho_de_compras{
    display: flex;
    width: 880px;
    height: 250px;
    background-color: #f2f2f2;
    border-radius: 0px 0px 20px 20px;
    justify-content: space-around;
    align-items: center;
}
.card_all{
    display: flex;
    width: 100px;
    height: 130px;
    border: solid red 2px;
    justify-content: center;
    align-items: center;

}
.card_1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_1 img{

    width: 50px;
    height: 50px;
}